<% if @projects %>
<table class="projects">
    <% if @projects[:caption] %>
    <caption class="projects__title">
        <h3><%= @projects[:caption] %></h3>
    </caption>
    <% end %>

    <colgroup>
        <col class="project__title">
        <col>
        <col>
        <col class="project__media">
    </colgroup>

    <thead>
        <tr>
            <th>Title</th>
            <th>Year</th>
            <th>Excerpt</th>
            <th>Media</th>
        </tr>
    </thead>
    <tbody>
        <% @projects[:entries].each do |project| %>
        <tr class="project">
            <td><a href="project.html"><%= project[:title] %></a></td>
            <td><%= project[:year] %></td>
            <td><%= project[:excerpt] %></td>
            <td>
                <% project[:media].each do |medium| %>
                    <img src="<%= medium %>" alt="">
                <% end %>
            </td>
        </tr>
        <% end %>
</table>
<% end %>
